@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme{

  --color-Sandy-Brown: hsl(24, 55.6%, 62.9%);
  --color-Eerie-Black: hsl(0, 0%, 8.2%);

  --font-outfit: "Outfit", sans-serif;
  --font-big-shoulder: "Big Shoulders", sans-serif;

}
